body {
  font-family: var(--font-body);
  background-color: var(--color-white);
  color: var(--color-dark);
}

h1,
h2 {
  font-family: var(--font-heading);
  text-transform: uppercase;
}

.main {
  width: 100%;
  min-height: 100vh;
}