@use "../abstracts" as *;

.hero {
    width: 100%;
    margin-bottom: var(--space-xl);


    &__img {
        display: block;
        width: 100%;
        height: 450px;
        object-fit: cover;
    }

    &__content {
        padding: var(--space-md) var(--space-sm);
    }

    &__title {
        width: min(100%, 336px);
        font-size: 72px;
        line-height: 0.9;
        margin-bottom: var(--space-md);
    }

    &__text {
        color: var(--color-gray);
        line-height: 1.6;
        font-size: 21px;
        margin-bottom: var(--space-md);
    }

    &__button {
        display: inline-flex;
        align-items: stretch;
        background: var(--color-dark);
        color: var(--color-white);
        font-family: var(--font-heading);
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    &__button-text {
        padding: 2rem 1.5rem;
        font-size: 21px;
    }

    &__button-icon {
        display: grid;
        place-items: center;
        background-color: var(--color-gold);
        padding: 2rem 1.5rem;
    }

    @include tablet {
        display: grid;
        grid-template-columns: 57% 43%;
        align-items: start;
        margin-bottom: var(--space-xl);
        
        &__img {
            height: 700px;
            object-fit: cover;
        }

        &__content {
            padding: 0;
            max-width: 330px;
            margin-left: -48px;
            padding-top: 145px;
            z-index: 2;
        }

        &__title {
            max-width: 330px;
            font-size: 70px;
            margin-bottom: var(--space-md);
        }

        &__text {
            font-size: 18px;
            margin-bottom: var(--space-md);
        }
    }

    @include desktop {
        display: flex;
        width: 100%;
        position: relative;
        
        &::before {
            content: "";
            width: 30%;
            height: 700px;
            background-color: var(--color-dark);
        }

        &__img {
            display: block;
            width: 38%;
        }

        &__title {
            position: absolute;
            top: 20%;
            left: 13%;
            color: var(--color-white);
            font-size: 70px;
        }

        &__text {
            font-size: 21px;
            margin-bottom:var(--space-lg);
        }
    }
}
